body {
  overflow: hidden;
  background-color: #99CCFF;
}

#centerbox-container {
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
  width: 500px;
}

#top-panel {
  background-color: #000099;
  border-style: solid;
  border-width: 3px;
  border-color: #000066
}

#left-panel {
  background-color: #3333FF;
  border-style: solid;
  border-width: 2px;
  border-color: #0000FF;
  float: left;
  width: 150px;
}

#centerbox {
  width: 600px;
  height: inherit;
  overflow: visible;
  height: auto;
  border-left-style: solid;
  border-left-color: #FF0000;
  border-left-width: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
}

.small-header {
  color: #FF0000;
  text-align: center;
}

#title {
  width: 800px;
  height: 130px;
  padding: 10px;
}
