body {
  background-image: url("https://readcollin0.github.io/mrjaffe/top_gradient.jpg");
  background-repeat: repeat-x;
  overflow: hidden;
}

#centertext-container {
  overflow-y: scroll;
  overflow-x: auto;
  height: 500px;
}

#centertext {
  width: 600px;
  height: inherit;
}
